@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-black302:before {
	content: "\e000";
}
.flaticon-box39:before {
	content: "\e001";
}
.flaticon-cart3:before {
	content: "\e002";
}
.flaticon-delete30:before {
	content: "\e003";
}
.flaticon-edit45:before {
	content: "\e004";
}
.flaticon-facebook2:before {
	content: "\e005";
}
.flaticon-google-plus:before {
	content: "\e006";
}
.flaticon-instagram19:before {
	content: "\e007";
}
.flaticon-magnifying-glass32:before {
	content: "\e008";
}
.flaticon-socialnetwork348:before {
	content: "\e009";
}
.flaticon-twitter:before {
	content: "\e00a";
}
