.contenedor_prodcutos {
  width: 50%;
  float: left; }
  .contenedor_prodcutos ul li {
    padding-top: 5px;
    padding-bottom: 5px; }
    .contenedor_prodcutos ul li p {
      margin-bottom: 0px; }
    .contenedor_prodcutos ul li.img_pulsera img {
      width: 100%; }
  .contenedor_prodcutos ul.columnas {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -o-column-count: 2;
    column-gap: 5em;
    -webkit-column-gap: 5em;
    -moz-column-gap: 5em;
    -o-column-gap: 5em; }

.precio-field {
  width: 15% !important; }

.col-wrap p.submit {
  margin-top: 10px !important; }

#poststuff .inside {
  height: auto;
  overflow: hidden; }

.overlay_multiusos {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  display: none; }

.modal_imagen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 9999;
  display: none; }
  .modal_imagen a {
    position: fixed;
    right: 0px;
    color: #ffffff;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none; }

.reportes {
  padding-left: 15px;
  padding-right: 15px; }
  .reportes .filtros {
    float: left;
    margin: 5px; }
    .reportes .filtros label {
      display: block;
      text-align: center; }
  .reportes .button {
    margin-top: 21px; }
  .reportes h1 {
    font-size: 23px;
    font-weight: 400;
    padding: 9px 15px 4px 0;
    line-height: 29px; }
  .reportes h2 {
    font-size: 20px;
    font-weight: 400;
    padding: 9px 15px 4px 0;
    line-height: 29px; }
  .reportes input {
    margin-left: 10px !important;
    text-align: center; }
  .reportes .contenedor_resumen {
    clear: both;
    width: 50%;
    margin-top: 30px; }
    .reportes .contenedor_resumen .titulo_resumen {
      font-size: 16px; }
    .reportes .contenedor_resumen .dato {
      margin-left: 40px; }
    .reportes .contenedor_resumen div {
      margin: 20px; }
  .reportes .encabezado_resumen {
    clear: both;
    width: 50%;
    margin-top: 30px;
    font-size: 16px; }
    .reportes .encabezado_resumen .titulo_resumen {
      font-size: 16px; }
    .reportes .encabezado_resumen .dato {
      margin-left: 40px; }
    .reportes .encabezado_resumen div {
      margin: 20px; }

.contenedor_infodistribuidor {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2; }
