@font-face {
    font-family: 'gotham_boldregular';
    src: url("../font/ufonts.com_gotham-bold-webfont.eot");
    src: url("../font/ufonts.com_gotham-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/ufonts.com_gotham-bold-webfont.woff2") format("woff2"), url("../font/ufonts.com_gotham-bold-webfont.woff") format("woff"), url("../font/ufonts.com_gotham-bold-webfont.ttf") format("truetype"), url("../font/ufonts.com_gotham-bold-webfont.svg#gotham_boldregular") format("svg");
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'gotham_htflight';
    src: url("../font/gothamhtf-light-webfont.eot");
    src: url("../font/gothamhtf-light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/gothamhtf-light-webfont.woff2") format("woff2"), url("../font/gothamhtf-light-webfont.woff") format("woff"), url("../font/gothamhtf-light-webfont.ttf") format("truetype"), url("../font/gothamhtf-light-webfont.svg#gotham_htflight") format("svg");
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'gotham_htfmedium';
    src: url("../font/gothamhtf-medium-webfont.eot");
    src: url("../font/gothamhtf-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../font/gothamhtf-medium-webfont.woff2") format("woff2"), url("../font/gothamhtf-medium-webfont.woff") format("woff"), url("../font/gothamhtf-medium-webfont.ttf") format("truetype"), url("../font/gothamhtf-medium-webfont.svg#gotham_htfmedium") format("svg");
    font-weight: normal;
    font-style: normal; }

@font-face {
    font-family: 'gotham_bookregular';
    src: url('../font/Gotham-Book.eot');
    src: url('../font/Gotham-Book.eot?#iefix') format('embedded-opentype'),
    url('../font/Gotham-Book.woff') format('woff'),
    url('../font/Gotham-Book.ttf') format('truetype'),
    url('../font/Gotham-Book.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'GothamHTF-Light';
    src: url('../font/GothamHTF-Light.eot?#iefix') format('embedded-opentype'),  url('../font/GothamHTF-Light.otf')  format('opentype'),
    url('../font/GothamHTF-Light.woff') format('woff'), url('../font/GothamHTF-Light.ttf')  format('truetype'), url('../font/GothamHTF-Light.svg#GothamHTF-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham_htfbold';
    src: url('../font/gothamhtf-bold-webfont.eot');
    src: url('../font/gothamhtf-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/gothamhtf-bold-webfont.woff2') format('woff2'),
    url('../font/gothamhtf-bold-webfont.woff') format('woff'),
    url('../font/gothamhtf-bold-webfont.ttf') format('truetype'),
    url('../font/gothamhtf-bold-webfont.svg#gotham_htfbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gotham_htfbook_italic';
    src: url('../font/gothamhtf-bookitalic-webfont.eot');
    src: url('../font/gothamhtf-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/gothamhtf-bookitalic-webfont.woff2') format('woff2'),
    url('../font/gothamhtf-bookitalic-webfont.woff') format('woff'),
    url('../font/gothamhtf-bookitalic-webfont.ttf') format('truetype'),
    url('../font/gothamhtf-bookitalic-webfont.svg#gotham_htfbook_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}