@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

body{
	margin:0;
}

.datos_medico{
  resize: none;
}

@mixin fondo(){
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover!important;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@mixin disable_seccion(){
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: block;
  @media only screen and (min-width: 320px) and (max-width:640px) {
    text-align: center;
  }
}

@mixin over($alfa){
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,$alfa);
	@media(max-width:641px){
		padding:30px;
	}
}

@mixin vendors($opcion, $data){
   $var : (-webkit-, -moz-,-ms-,'');
   @each $k, $v in $var{
       #{$k}#{$opcion}:$data;
   }
}

.modalupdate{
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50%;
  border: 3px solid #AA9F6B;
  background-color: #ffffff;
  padding: 5%;
  z-index: 99999;
  display: none;
  @media only screen and (min-width: 320px) and (max-width:640px) {
    width: 80%;
  }
  label{
    color: #58585A;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 15px;
  }
  .btncancelardistribuidor{
    width: 30%;
    text-align: center;
    margin: 20px auto;
    border: 1px solid #AA9F6B;
    padding: 10px;
    display: inline;
    margin-right: 20px;
    background-color: transparent;
    color: #AA9F6B;
    font-size: 14px;
    text-transform: uppercase;
  }
  .btnupdatedistribuidor{
    width: 30%;
    text-align: center;
    margin: 20px auto;
    border: 1px solid #58585A;
    padding: 10px;
    display: inline;
    margin-right: 20px;
    background-color: transparent;
    color: #58585A;
    font-size: 14px;
    text-transform: uppercase;
  }
}

.transposh_flags{
  position: fixed;
  z-index: 99999;
  left: 2%;
  top: 1%;
  @media only screen and (min-width: 776px) and (max-width:1024px) {
    left: 45%;
  }

  @media only screen and (min-width: 641px) and (max-width:775px) {
    left: 50%;
  }

  @media only screen and (min-width: 320px) and (max-width:640px) {
    left: 10%;
    top: 2%;
    position: absolute;
  }
}

.trf-us{
  background-image: url("img/1447289512_usa.png") !important;
  height: 20px !important;
  width: 30px !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.trf-es{
  background-image: url("img/1447289749_Spain.png") !important;
  height: 16px !important;
  width: 30px !important;
  background-repeat: no-repeat !important;
  background-position: 0 !important;
  background-size: cover !important;
}

#tr_credit{
  display: none;
}

.canvas-container{
  position: absolute !important;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px #616161;
  border: 2px dashed #fff;
}

input{

}

body{
  input[type=checkbox]{
    position: fixed;
    top: 25%;
    right: 20px;
    z-index: 9999;
  }
}

.center{
  padding:10px;
  position:absolute;
  top: 50%;
  left:50%;
  @include vendors(transform, translate(-50%,-50%));
}

.menu_mobil{
  a{
    vertical-align: super;
  }
  display: none;
  @media only screen and (min-width: 320px) and (max-width:639px) {
    display: block;
    width: 100%;
    background-color: #000;
    padding: 10px;
  }
}

.icon_cart{
  position: fixed;
  top: 8px;
  right: 6%;
  z-index: 99999;
  color: #fff;
  cursor: pointer;
  @media only screen and (min-width: 320px) and (max-width:639px) {
    position: absolute;
    right: 10%;
  }
  .contador_pedidos{
    position: fixed;
    font-size: 11px;
    margin-left: 6px;

    @media only screen and (min-width: 320px) and (max-width:639px) {
      position: absolute;
    }
  }
}

.btn_distribuidores{
  position: fixed;
  right: 10%;
  color: #fff;
  z-index: 9999;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #AA9F6B;
  margin-top: 7px;
  text-transform: uppercase;
  font-family: 'gotham_htfmedium';
  cursor: pointer;
  display: none;
  font-size: 14px;
  @media only screen and (min-width: 320px) and (max-width:640px) {
    right: 20% !important;
    top: 0px !important;
    position: absolute !important;
  }
  @media only screen and (min-width: 641px) and (max-width:965px) {
    right: 12% !important;
  }
}
.bienvenido{
  position: fixed;
  right: 10%;
  color: #fff;
  z-index: 9999;
  margin-top: 7px;
  text-transform: uppercase;
  font-family: 'gotham_htfmedium';
  cursor: pointer;
  display: none;
  @media only screen and (min-width: 320px) and (max-width:640px) {
    right: 30% !important;
    top: 0px !important;
    position: absolute !important;
  }
  @media only screen and (min-width: 641px) and (max-width:1024px) {
    right: 15%;
  }

  a{
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    display: inline-block;
    color: #fff;
    &:hover{
      color: #AA9F6E;
    }
  }

  p{
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    display: inline-block;
  }
  span{
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    display: inline-block;
    color: #AA9F6E;
    margin-left: 5px;

  }
}

.current_moneda{
  position: fixed;
  top: 10px;
  right: 2%;
  z-index: 99999;
  color: #fff;
  cursor: pointer;
  @media only screen and (min-width: 320px) and (max-width:640px) {
    position: absolute !important;
    font-size: 10px;
  }
  &:hover{
    color: #AA9F6B;
  }
}

.list_pedidos{
  position: fixed;
  top: 5.5%;
  right: 4%;
  z-index: 9999999;
  background-color: #000000;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  display: none;
  ul {
    margin-left: 0px;
    padding: 5px;
    li {
      color: #ffffff;
      list-style: none;
      border-bottom: 1px solid #ffffff;
      p{
        margin-bottom: 0px;
        font-family: 'GothamHTF-Light';
        font-size: 14px;
      }
    }
  }
  .ver_carrito{
    border: 2px solid #ffffff;
    width: 30%;
    padding: 10px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
  }
}

.main-navigation{
  position: fixed;
  z-index: 9999;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  height: 50px;
  overflow: hidden;
  display: block;
  @media only screen and (min-width: 320px) and (max-width:639px) {
    height: auto;
    overflow: auto;
    top: 0;
    bottom: 0;
    display: none;
  }
  .close_menu{
    display: none;
    @media only screen and (min-width: 320px) and (max-width:639px) {
      float: right;
      padding: 20px;
      color: #ffffff;
      display: block;
      margin-top: 30px;
    }
  }
  .menu{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    width: 70%;
    @media only screen and (min-width: 640px) and (max-width:1024px) {
      width: 100%;
      left: 0;
      transform: translateX(0);
      -webkit-transform: 0;
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      text-align: left;
      margin-left: 20px;
    }
    @media only screen and (min-width: 320px) and (max-width:639px) {
      padding-left: 15%;
      padding-right: 15%;
      margin-left: -100%;
      transition: 500ms;
      left: 50% !important;
      top: 50% !important;
      transform: translate(-50%,-50%) !important;
    }

    &.mostar{
      @media only screen and (min-width: 320px) and (max-width:639px) {
        margin-left: 0 !important;
      }
    }

    li{
      display: inline-block;
      @media only screen and (min-width: 320px) and (max-width:639px) {
        display: block;
      }
      @media only screen and (min-width: 320px) and (max-width:639px) {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      a{
        font-family: 'GothamHTF-Light';
        font-size: 14px;
        color: #ffffff;
        padding-left: 20px;
        padding-right: 20px;
        text-transform: uppercase;
        @media only screen and (min-width: 929px) and (max-width:1157px) {
          padding-left: 10px;
          padding-right: 10px;
        }
        @media only screen and (min-width: 871px) and (max-width:928px) {
          padding-left: 5px;
          padding-right: 5px;
        }
        @media only screen and (min-width: 640px) and (max-width:870px) {
          padding-left: 10px;
          padding-right: 10px;
          font-size: 14px;
        }
        @media only screen and (min-width: 320px) and (max-width:639px) {
          font-size: 18px;
        }
      }
      &:hover{
        border: 1px solid #ffffff;
      }
      &.current-menu-item{
        border: 1px solid #ffffff;
      }
    }
  }
}

div.home{
    padding: 0px;
	section{
		height: 100vh;
		position: relative;
	}
	section:nth-of-type(1){
		background:url(img/home.jpg);
      text-align: center;
      border-bottom: 9px solid #AA9F6B;
		@include fondo();
      @media only screen and (min-width: 320px) and (max-width:640px) {
        height: auto !important;
        overflow: hidden;
        position: relative;
      }
		div.over{
			@include over(.5);
		}
      img.logo{
        padding-bottom: 25px;
      }
      div.center{
        @media only screen and (min-width: 320px) and (max-width:640px) {
          width: 100%;
          position: relative;
          top: 0 !important;
          left: 0 !important;
          -webkit-transform: translate(0%, 0%) !important;
          -moz-transform: translate(0%, 0%) !important;
          -ms-transform: translate(0%, 0%) !important;
          transform: translate(0%, 0%) !important;
          padding-top: 60px;
        }
        max-width: 600px;
      }
        div.divisor{
          position: absolute;
          background-color: #AA9F6B;
          height: 3px;
          width: 40%;
          left: 50%;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
        }
      div.descripcion_eternita{
        font-family: 'gotham_bookregular';
        color: #ffffff;
        padding-top: 40px;
        p{
          font-size: 17px;
        }
      }
      a.arrow_down{
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translatex(-50%);
        width: 3%;
        cursor: pointer;
      }
      .botones_home {
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translatex(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        margin: 0 auto;
        @media only screen and (min-width: 320px) and (max-width: 640px) {
          position: relative;
          width: 100%;
          left: 0;
          transform: translatex(0);
          -webkit-transform: translateX(0);
          -moz-transform: translateX(0);
          -ms-transform: translateX(0);
          margin-bottom: 40px;
        }
        @media only screen and (min-width: 641px) and (max-width: 1024px) {
          width: 100%;
        }
        .comprar_btn {
          cursor: pointer;
          border: 2px solid #fff;
          padding: 10px;
          float: left;
          margin-left: 20px;
          margin-right: 20px;
          @media only screen and (min-width: 320px) and (max-width: 1024px) {
            margin: 0 auto;
            display: inline-block;
            float: none;

          }

          a{
            color: #ffffff;
            text-transform: uppercase;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            font-size: 20px;
          }
        }
      }
	}
	section:nth-of-type(2){
		background-image: url(img/fondoeternitta1.jpg);
        @include fondo();
        position: relative;
		height:50vh;
        @media only screen and (min-width: 320px) and (max-width: 640px) {
          height: auto;
        }

        div.over{
          @include over(.5);
        }
		div.row{
          max-width: 42.5rem;
        }

        div.content2{
          position: absolute;
          z-index: 999;
          width: 100%;
          @media only screen and (min-width: 320px) and (max-width: 640px) {
           position: relative;
          }
        }

        h3.titulo{
          color: #ffffff;
          text-align: center;
          font-family: 'Lato', sans-serif;
          font-weight: 700;
          letter-spacing: 10px;
          text-transform: uppercase;
          padding-top: 40px;
          margin-bottom: 15px;
        }

        div.divisor{
          position: absolute;
          background-color: #AA9F6B;
          height: 3px;
          width: 10%;
          left: 50%;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
        }

        ul{
          padding-top: 20px;
          padding-bottom: 30px;
          column-count: 2;
          -webkit-column-count: 2;
          -moz-column-count: 2;
          -o-column-count: 2;
          column-gap: 12em;
          -webkit-column-gap: 12em;
          -moz-column-gap: 12em;
          -o-column-gap: 12em;
          list-style-image: url("img/bullet.png");
          position: absolute;
          margin-left: 0px;
          left: 50%;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          @media only screen and (min-width: 320px) and (max-width: 640px) {
            position: relative;
            padding-left: 20px;
            padding-right: 20px;
            -webkit-column-count: 1;
            -moz-column-count: 1;
            -o-column-count: 1;
            column-gap: 12em;
            -webkit-column-gap: 12em;
            -moz-column-gap: 12em;
            -o-column-gap: 12em;

          }
          li{
            color: #ffffff;
            font-family: 'gotham_bookregular';
            font-size: 21px;
            padding: 10px;
            @media only screen and (min-width: 320px) and (max-width: 640px) {
              font-size: 18px;
              padding: 5px;
              text-align: center;
              list-style: none;
            }
            &:before{
              content: '';
              width: 10px;
              height: 10px;
            }
          }
        }
	}
	section:nth-of-type(3){
      height: auto;
      overflow: hidden;
      background-color: #ffffff;
      text-align: center;
      margin-bottom: 9%;
      h3.titulo{
        color: #58585A;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        letter-spacing: 10px;
        text-transform: uppercase;
        padding-top: 40px;
        margin-bottom: 15px;
      }

      div.divisor{
        position: absolute;
        background-color: #AA9F6B;
        height: 3px;
        width: 10%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
      }
      div.bloque1{
        max-width: 42.5rem;
        margin-top: 60px;
      }

      div.contenido{
        margin-top: 40px;
        font-family: 'gotham_bookregular';
      }

      .aviso_seleccion{
        height: auto;
        overflow: hidden;
        position: relative;
        padding-top: 10px;
        border: 2px dashed #AA9F6B;
        padding-bottom: 20px;
        width: 50%;
        margin: 0 auto;
        @media only screen and (min-width: 320px) and (max-width: 640px) {
          width: 80%;
        }
        p{
          text-align: center;
          font-family: 'gotham_bookregular';
          color: #58585B;
        }
        a{
          border: 2px solid #58585A;
          width: 30%;
          padding: 10px;
          margin: 0 auto;
          font-family: 'Lato', sans-serif;
          color: #58585A;
          text-transform: uppercase;
          font-size: 14px;
        }
      }

      ul{
        margin-top: 50px;
        margin-bottom: 50px;
        li{
          position: relative;
          .rest_cantidad {
            display: none;
            @media only screen and (min-width: 320px) and (max-width: 640px) {
              display: block;
              position: absolute;
              font-size: 12px;
              right: 30%;
              top: 30px;
              padding-left: 5px;
              padding-right: 5px;
              padding-top: 2px;
              padding-bottom: 2px;
              background-color: #AA9F6B;
              border-radius: 50%;
              color: #fff;
              width: 20px;
              height: 20px;
              display: block;
              cursor: pointer;
            }
            @media only screen and (min-width: 641px) and (max-width: 1024px) {
              right: 30%;
              top: 30px;
              display: block;
              position: absolute;
              font-size: 12px;
              padding-left: 5px;
              padding-right: 5px;
              padding-top: 2px;
              padding-bottom: 2px;
              background-color: #AA9F6B;
              border-radius: 50%;
              color: #fff;
              width: 20px;
              height: 20px;
              display: block;
              cursor: pointer;
            }
          }
          .more_cantidad{
            display: none;
            @media only screen and (min-width: 320px) and (max-width: 640px) {
              display: block;
              position: absolute;
              font-size: 12px;
              right: 30%;
              top: 3px;
              padding-left: 5px;
              padding-right: 5px;
              padding-top: 2px;
              padding-bottom: 2px;
              background-color: #AA9F6B;
              border-radius: 50%;
              color: #fff;
              width: 20px;
              height: 20px;
              display: block;
              cursor: pointer;
            }
            @media only screen and (min-width: 641px) and (max-width: 1024px) {
              right: 30%;
              top: 3px;
              display: block;
              position: absolute;
              font-size: 12px;
              padding-left: 5px;
              padding-right: 5px;
              padding-top: 2px;
              padding-bottom: 2px;
              background-color: #AA9F6B;
              border-radius: 50%;
              color: #fff;
              width: 20px;
              height: 20px;
              display: block;
              cursor: pointer;
            }
          }

          &:hover {
            .rest_cantidad {
              position: absolute;
              font-size: 12px;
              right: 17%;
              top: 30px;
              padding-left: 5px;
              padding-right: 5px;
              padding-top: 2px;
              padding-bottom: 2px;
              background-color: #AA9F6B;
              border-radius: 50%;
              color: #fff;
              width: 20px;
              height: 20px;
              display: block;
              cursor: pointer;
              @media only screen and (min-width: 320px) and (max-width: 640px) {
                right: 30%;
              }
              @media only screen and (min-width: 641px) and (max-width: 1024px) {
                right: 30%;
                top: 30px;
                display: block;
                position: absolute;
                font-size: 12px;
                padding-left: 5px;
                padding-right: 5px;
                padding-top: 2px;
                padding-bottom: 2px;
                background-color: #AA9F6B;
                border-radius: 50%;
                color: #fff;
                width: 20px;
                height: 20px;
                display: block;
                cursor: pointer;
              }

            }
            .more_cantidad {
              position: absolute;
              font-size: 12px;
              right: 17%;
              top: 3px;
              padding-left: 5px;
              padding-right: 5px;
              padding-top: 2px;
              padding-bottom: 2px;
              background-color: #AA9F6B;
              border-radius: 50%;
              color: #fff;
              width: 20px;
              height: 20px;
              display: block;
              cursor: pointer;
              @media only screen and (min-width: 320px) and (max-width: 640px) {
                right: 30%;
              }
              @media only screen and (min-width: 641px) and (max-width: 1024px) {
                right: 30%;
                top: 3px;
                display: block;
                position: absolute;
                font-size: 12px;
                padding-left: 5px;
                padding-right: 5px;
                padding-top: 2px;
                padding-bottom: 2px;
                background-color: #AA9F6B;
                border-radius: 50%;
                color: #fff;
                width: 20px;
                height: 20px;
                display: block;
                cursor: pointer;
              }
            }
          }
          div.boton_talla {
            border: 2px solid #AA9F6B;
            border-radius: 50%;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 30px;
            width: 62%;
            cursor: pointer;
            margin: 0 auto;
            position: relative;
            @media only screen and (min-width: 641px) and (max-width: 1024px) {
              width: 28%;
            }
            @media only screen and (min-width: 537px) and (max-width: 640px) {
              width: 28%;
            }
            @media only screen and (min-width: 320px) and (max-width: 420px) {
              width: 38.5%;
            }

            @media only screen and (min-width: 421px) and (max-width: 536px) {
              width: 45%;
            }

            &.select{
              .disable_selecciontalla{
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(171, 150, 53, 0.67);
                border-radius: 50%;
                margin: -2px;
                z-index: 99999;
              }
            }
            &.disable{
              .disable_selecciontalla{
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                border-radius: 50%;
                margin: -2px;
                z-index: 99999;
              }
            }
            p {
              color: #AA9F6B;
              text-transform: uppercase;
              font-size: 71px;
              margin-top: 10px;
              margin-bottom: 10px;
              cursor: pointer;
              @media only screen and (min-width: 640px) and (max-width: 800px) {
                font-size: 41px;
              }
              &.cantidad_pedido{
                position: absolute;
                font-size: 14px;
                right: 4%;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 2px;
                padding-bottom: 2px;
                background-color: #58585A;
                border-radius: 50%;
                color: #fff;
                width: 30px;
                height: 30px;
                display: none;
              }
            }
          }
          .name_talla{
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            font-size: 22px;
            text-transform: uppercase;
            color: #58585A;
            margin-bottom: 0px;
            margin-top: 20px;
          }
          .descripcion_talla{
            margin-bottom: 0px;
            font-family: 'gotham_bookregular';
            color: #58585A;
            line-height: 15px;
          }
        }
      }
      .btn_listo{
        border: 2px solid #58585A;
        width: 30%;
        padding: 10px;
        margin: 0 auto;
        font-family: 'Lato', sans-serif;
        color: #58585A;
        text-transform: uppercase;
        font-size: 20px;
        @media only screen and (min-width: 320px) and (max-width: 640px) {
          width: 50%;
        }
      }
	}
	section:nth-of-type(4){
		background-image: url(img/secpersonaliza.jpg);
        background-size: cover;
        background-position: center left;
        display: none;
        @media only screen and (min-width: 320px) and (max-width: 640px) {
          height: auto;
          overflow: hidden;
        }

      .contenedor_brasalete{
        height: 100vh;
        @media only screen and (min-width: 320px) and (max-width: 640px) {
          display: none;
        }
        /*p.nombre_brasalete{
          position: absolute;
          left: 40%;
          top: 40%;
          -ms-transform: rotate(-35deg);
          -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
          border: 3px dotted #ffffff;
          padding: 15px;
          width: 50%;
          text-align: center;
        }*/
      }

        .disabled_seccion{
          @include disable_seccion();
          h2{
            position: absolute;
            color: #ffffff;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-transform: uppercase;
            text-align: center;
            @media only screen and (min-width: 320px) and (max-width: 640px) {
              font-size: 22px !important;
            }
          }
        }
		@include fondo();
        div.contenedor_datos{
          background-color: rgba(0,0,0,0.7);
          height: 100vh;
          padding-top: 40px;
          padding-bottom: 40px;
          padding-left: 60px;
          padding-right: 60px;
          position: relative;
          @media only screen and (min-width: 320px) and (max-width: 640px) {
            height: auto;
            overflow: hidden;
            background-color: rgb(0,0,0);
          }
          @media only screen and (max-height: 750px) {
            overflow: scroll;
          }

          h3.titulo_brasalete{
            font-family: 'Lato', sans-serif;
            color: #ffffff;
            font-weight: 700;
            text-align: center;
          }
          div.divisor{
            position: absolute;
            background-color: #AA9F6B;
            height: 3px;
            width: 40%;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
          }
          div.info_brasalete {
            margin-top: 40px;
            h4{
              color: #ffffff;
              font-family: 'Lato', sans-serif;
              font-weight: 700;
            }
            small{
              color: #AA9F6B;
            }
            label {
              font-family: 'Lato', sans-serif;
              font-weight: 300;
              color: #ffffff;
              font-size: 15px;
              &.inline2{
                display: inline;
              }
            }
            div.contenedor_btncompra{
              width: 60%;
              text-align: center;
              margin: 20px auto;
              border: 1px solid #fff;
              padding: 10px;

              a{
                color: #ffffff;
                font-family: 'Lato', sans-serif;
                font-weight: 700;
                font-size: 22px;
              }
            }
          }
        }
	}
}

.pedido_template{
  background-color: #F3F3F3;
  overflow: hidden;
  padding-bottom: 80px;
  height: auto;
  padding-top: 8%;
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    height: auto;
    position: relative;
  }
  .center{
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    @media only screen and (min-width: 320px) and (max-width: 640px) {
      width: 100%;
      position: relative;
      left: 0;
      top: 0;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
  h3.titulo{
    color: #58585A;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 10px;
    text-transform: uppercase;
    padding-top: 40px;
    margin-bottom: 15px;
  }
  div.divisor{
    position: absolute;
    background-color: #58585A;
    height: 3px;
    width: 20%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }
  .carrusel{
    @media only screen and (min-width: 320px) and (max-width: 640px) {
      margin-bottom: 20px;
    }
  }
  .texto_descriptivo{
    font-family: 'gotham_bookregular';
    color: #58585A;
    padding-right: 15%;
    padding-left: 15%;
    text-align: center;
    font-size: 17px;
    margin-top: 60px;

  }
  .cabezeras_tabla{
    margin-top: 60px;
    @media only screen and (min-width: 320px) and (max-width: 640px) {
      display: none;

    }
    li{
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #58585A;
    }
  }
  .contenido_tablapedido{
    border-bottom: 1px solid #58585A;
    @media only screen and (min-width: 320px) and (max-width: 640px) {
      border-bottom: none;
    }
    li{
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      color: #333333;
      text-align: left;
      position: relative;
      @media only screen and (min-width: 320px) and (max-width: 640px) {
        span{
          font-family: 'Lato', sans-serif;
          font-weight: 700;
          text-transform: uppercase;
          color: #58585A;
        }
      }
      .overlay_pulsera {
        opacity: 0;
        img{
          display: none;
        }
      }
      &:hover {
        .overlay_pulsera {
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.4);
          opacity: 1;
          -webkit-transition: opacity 300ms ease-in-out;
          -moz-transition: opacity 300ms ease-in-out;
          -ms-transition: opacity 300ms ease-in-out;
          -o-transition: opacity 300ms ease-in-out;
          transition: opacity 300ms ease-in-out;
          img{
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -webkit-transition: opacity 300ms ease-in-out;
            -moz-transition: opacity 300ms ease-in-out;
            -ms-transition: opacity 300ms ease-in-out;
            -o-transition: opacity 300ms ease-in-out;
            transition: opacity 300ms ease-in-out;
            cursor: pointer;
          }
        }
      }
      
      .titulos_responsivos{

        display: none;
      }
      &.tallas{
        span{
          font-size: 12px;
          display: block;
        }
      }
      .edit{
        display: inline-block;
        color: #58585A;
        cursor: pointer;
      }
      .delete{
        display: inline-block;
        color: #58585A;
        cursor: pointer;
      }
      &.acciones{
        @media only screen and (min-width: 320px) and (max-width: 640px) {
          border-bottom: 1px solid #58585A;
          margin-bottom: 20px;
        }
      }
    }

  }
  .total_global{
    text-align: right;
    p{
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      color: #58585A;
      display: inline;
    }
  }

  .costo_envio{
    text-align: right;
    p{
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      color: #58585A;
      display: inline;
    }
  }
  .mensaje_pedidovacio{
    color: #AA9F6B;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  .btn_addpedido{
    border: 2px solid #58585A;
    width: 30%;
    padding: 10px;
    float: right;
    text-align: center;
    color: #58585A;
    text-transform: uppercase;
    @media only screen and (min-width: 320px) and (max-width: 640px) {
      width: 90%;
      margin: 0 auto;
      float: none;
    }
  }
  .informacion_envio{
    margin-top: 70px;
    .aviso_campos{
      margin-left: 15px;
    }
    .select1{
      padding-left: 0px;
      @media only screen and (min-width: 320px) and (max-width: 640px) {
        padding: 0;
      }
    }
    .select2{
      padding-right: 0px;
      @media only screen and (min-width: 320px) and (max-width: 640px) {
        padding: 0;
      }
    }
  }
}

.nosotros{
  height: auto;
  overflow: hidden;
  position: relative;
  background-image: url('img/fondo_nosotros.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-right: 0px !important;
  padding-left: 0px !important;

  @media only screen and (min-width: 320px) and (max-width: 640px) {
    position: relative;
  }
  .over{
      @include over(.9);
  }
  .contenido {
    margin-top: 10%;
    margin-bottom: 10%;
    position: inherit;
    h3 {
      color: #ffffff;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 10px;
      text-align: center;
      margin-bottom: 15px;

    }
    .divisor {
      position: absolute;
      background-color: #AA9F6B;
      height: 3px;
      width: 10%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
    }
    .texto {
      margin-top: 40px;
      margin-bottom: 40px;
      p {
        font-family: 'gotham_bookregular';
        color: #ffffff;
        font-size: 13px;
        margin-bottom: 10px;
      }
      blockquote {
        border-left: none;
        p {
          font-family: 'gotham_htfbold';
          color: #ffffff;
          font-size: 16px;
          font-style: italic;
        }
      }
      b{
        font-family: 'gotham_htfbold';
        font-size: 18px;
      }
      strong{
        font-family: 'gotham_htfbold';
        font-size: 18px;
      }
      &.valores{
        text-align: center;
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
        -moz-column-gap: 20px; /* Firefox */
        column-gap: 20px;
        @media only screen and (min-width: 320px) and (max-width: 640px) {
          text-align: center;
          -webkit-column-count: 1; /* Chrome, Safari, Opera */
          -moz-column-count: 1; /* Firefox */
          column-count: 1;
          -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
          -moz-column-gap: 20px; /* Firefox */
          column-gap: 20px;
        }
      }
    }
  }
}

.blog{
  height: auto;
  overflow: hidden;
  background-color: #ffffff;
  margin-top: 3%;
  .row {
    margin-top: 5%;
    .titulo_blog {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 10px;
      color: #58585A;
    }
    .divisor {
      position: relative;
      background-color: #AA9F6B;
      height: 3px;
      width: 20%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
    }
    .articulos {
      margin-top: 5%;
      .contenido_articulo {
        height: 440px;
        .contenido_foto {
          height: 300px;
          overflow: hidden;
          .img_articulo {
            background-size: cover;
            background-position: top center;
            background-repeat: no-repeat;
            height: 100%;
          }
        }
        .titulo_articulo {
          text-align: center;
          color: #515050;
          text-transform: uppercase;
          padding-top: 10px;
          margin-bottom: 0px;
        }
        .description_articulo {
          color: #B3B3B3;
          font-size: 11px;
          font-family: 'gotham_bookregular';
          text-align: center;
          margin-top: 5px;
        }
      }
    }
    .paginav{
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: center;
      .page-numbers{
        color: #ffffff;
        font-family: 'gotham_bookregular';
        font-size: 20px;
      }
      .next{
        border: 1px solid #58585A;
        color: #58585A;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase;
      }
      .prev{
        border: 1px solid #58585A;
        color: #58585A;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase;
      }
    }
  }
}

.single_articulo{
  height: auto;
  overflow: hidden;
  background-color: #ffffff;
  margin-top: 4%;
  .row {
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 65.5rem;
    .entry-title {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      text-align: center;
      color: #58585A;
      margin-top: 20px;
    }
    .entry-title2 {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      text-align: center;
      color: #58585A;
      margin-top: 60px;
    }
    .img_destacada{
      text-align: center;
    }
    .entry-content{
      margin-top: 40px;
      .aligncenter{
        margin: 0 auto;
        display: block;
      }
      p{
        font-family: 'gotham_bookregular';
        color: #58585A;
        font-size: 14px;
      }
      h2{
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        color: #58585A;
        margin-top: 20px;
      }
      h3{
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        color: #58585A;
        margin-top: 20px;
      }
      h4{
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        color: #58585A;
        margin-top: 20px;
      }
    }
    .fecha_publicado{
      color: #666666;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      text-align: center;
    }
    .title-relacionado{
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      color: #515050;
      text-align: center;
      font-size: 18px;

    }
    .description_articulorelacionado{
      color: #999999;
      font-family: 'gotham_bookregular';
      font-size: 14px;
    }
    .owl-next{
      @media only screen and (min-width: 800px) and (max-width: 2000px) {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: transparent !important;
        span {
          font-size: 70px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          color: #AA9F6B;
          right: -70px;
        }
      }
    }

    .owl-prev {
      @media only screen and (min-width: 800px) and (max-width: 2000px) {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: transparent !important;
        span {
          font-size: 70px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          color: #AA9F6B;
          left: -70px;
        }
      }
    }
  }
}

.distribuidores{
  margin-top: 3%;
  .row {
    margin-top: 5%;
    margin-bottom: 5%;
    .btnupdateinfo{
      border: 2px solid #AA9F6B;
      width: 12%;
      color: #AA9F6B;
      margin-top: 40px;
      margin-left: 25px;
      cursor: pointer;
      @media only screen and (min-width: 641px) and (max-width: 800px) {
        width: 17%;
      }
      @media only screen and (min-width: 320px) and (max-width: 640px) {
        width: 40%;
      }
      span{
        margin-left: 5px;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 12px;
      }
    }
    .titulo_panel {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 10px;
      color: #58585A;
    }
    .divisor {
      position: relative;
      background-color: #AA9F6B;
      height: 3px;
      width: 20%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
    }
    .datos_distribuidor{
      margin-top: 20px;
      margin-bottom: 40px;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
      column-gap: 20px;
      @media only screen and (min-width: 320px) and (max-width: 640px) {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 0px;
        -moz-column-gap: 0px;
        column-gap: 0px;
      }
      p{
        color: #515050;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
      }
    }
    .divisor_delgado{
      position: relative;
      background-color: #AA9F6B;
      height: 1px;
      width: 70%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      margin-bottom: 40px;
    }
    .cuadros{
      margin-top: 40px;
      ul {
        margin-left: 0px;
        li {
          padding: 0;
          color: #808080;
          list-style: none;
          label{
            width: 20px;
            height: 20px;
            float: left;
            margin: 1% 3%;
          }
        }
      }
    }
    .filtro{
      width: 20%;
      border: 2px solid #AA9F6B;
      color: #AA9F6B;
    }
    .listado_pedidos{
      margin-top: 5%;
      .img{
        margin-bottom: 15px;
      }
      .estatus{
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #666666;
        font-size: 24px;
        label{
          width: 20px;
          height: 20px;
          float: left;
          margin: 3% 3%;
        }
      }
      .datos{
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #666666;
      }
    }
    option{
      &:hover{
        background-color: #AA9F6B;
        color: #ffffff;
      }
    }
  }
}

.registro{
  height: auto;
  overflow: hidden;
  background-color: #ffffff;
  margin-top: 3%;
  .row {
    margin-top: 5%;
    margin-bottom: 5%;
    .titulo_sitio {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 10px;
      color: #58585A;
    }
    .divisor {
      position: relative;
      background-color: #AA9F6B;
      height: 3px;
      width: 20%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
    }
    .datos_registro{
      margin-top: 40px;
      height: auto;
      overflow: hidden;
      .btn_agregar{
        float: right;
        margin-right: 20px;
        border: 1px solid #58585A;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #58585A;
        text-transform: uppercase;
      }
    }
  }
}

.contacto{
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    height: auto;
    overflow: hidden;
    position: relative;
  }
  .overlay_contacto{
    @include over(.1);
    @media only screen and (min-width: 320px) and (max-width: 640px) {
      height: 100%;
    }
    @media only screen and (min-width: 641px) and (max-width: 1024px) {
      height: 106%;
    }
  }
  .titulo_contacto{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
  }
  .divisor {
    position: relative;
    background-color: #AA9F6B;
    height: 3px;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }
  .center {
    width: 70%;
    @media only screen and (min-width: 320px) and (max-width: 640px) {
      width: 100%;
      position: relative;
    }
    @media only screen and (min-width: 641px) and (max-width: 1024px) {
      width: 85%;

    }
    .contenido_page {
      margin-top: 80px;
      .info_contacto {
        h3 {
          color: #ffffff;
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          text-transform: uppercase;
        }
        h2 {
          color: #ffffff;
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          text-transform: uppercase;
        }
        h1 {
          color: #ffffff;
          font-family: 'Lato', sans-serif;
          font-weight: 700;
          text-transform: uppercase;
        }
        p {
          font-family: 'Lato', sans-serif;
          font-weight: 100;
          color: #ffffff;
          font-size: 13px;
        }
        a {
          color: #AA9F6B;
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          display: inline;
        }
      }
      .form_contacto {
        label {
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          text-transform: uppercase;
          color: #ffffff;
        }
        br {
          display: none;
        }
        .wpcf7-submit {
          width: 50%;
          background-color: transparent;
          border: 1px solid #AA9F6B;
          color: #fff;
          padding: 5px;
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          text-transform: uppercase;
          font-size: 18px;
          appearance: none;
          -moz-appearance: none; /* Firefox */
          -webkit-appearance: none; /* Safari and Chrome */
        }
        .btn_submit {
          text-align: center;
        }
        input{
          background: rgba(255,255,255,0.7);
        }
        textarea{
          background: rgba(255,255,255,0.7);
        }
      }
    }
  }
}

.overlay_loader{
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999999;
  display: none;
}


#footer{
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;

  div.privacidad{
    p{
      color: #B3B3B3;
      font-family: 'Lato', sans-serif;
      font-weight: 100;
      margin-bottom: 0px;
      margin-top: 10px;
      @media only screen and (min-width: 320px) and (max-width: 640px) {
        text-align: center;
      }
    }
  }
  div.icons{
    display: inline-block;
    &.iconcircular{
      float: right;
      color: #58585A;
      @media only screen and (min-width: 320px) and (max-width: 640px) {
        float: none;
      }
      &:before{
        font-size: 30px;
      }
    }
  }
  @include placeholder {
    color: #666666 !important;
    font-family: 'gotham_bookregular' !important;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }

  .leyenda_nosotros{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #AA9F6B;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 0px;
    margin-top: 50px;
    @media only screen and (min-width: 320px) and (max-width: 640px) {
      font-size: 18px;

    }
  }
  .wysija-paragraph{
    width: 40%;
    display: inline;
    @media only screen and (min-width: 320px) and (max-width: 640px) {
      width: 100% !important;
      display: block !important;
      margin-bottom: 0px;
      margin-top: 20px;
      input{
        width: 100% !important;
        display: block !important;
        margin-bottom: 0px;
      }
    }
  }
  .wysija-submit{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    display: inline;
    background-color: #AA9F6B;
    border: none;
    font-size: 19px;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
    text-transform: uppercase;
  }

}


.overlay_multiusos{
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  display: none;
}

.overlay_multiusos2{
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  display: none;
}

.mensaje{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  background-color: #E6E6E6;
  padding: 20px;
  opacity:0;
  visibility: hidden;
  transition: visibility 0s linear 300ms,opacity 300ms linear;
  z-index: 99999;
  width: 40%;
  border-radius: 5px;
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    width: 100%;

  }
  p{
    color: #656565;
    font-family: 'gotham_bookregular';
  }
  &.exito{
    border: 3px solid #22B573;
    .btn_cerrar{
      border: 1px solid #22B573;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0 auto;
      color: #22B573;
      font-family: 'gotham_bookregular';
      &:hover{
        background-color: #22B573;
        color: #ffffff;
      }
    }
  }
  &.error{
    border: 3px solid #bf2026;
    .btn_cerrar{
      border: 1px solid #bf2026;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0 auto;
      color: #bf2026;
      font-family: 'gotham_bookregular';
      &:hover{
        background-color: #bf2026;
        color: #ffffff;
      }
    }
  }
  &.advertencia{
    border: 3px solid #F8BB86;
    .btn_cerrar{
      border: 1px solid #F8BB86;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0 auto;
      color: #F8BB86;
      font-family: 'gotham_bookregular';
      &:hover{
        background-color: #F8BB86;
        color: #ffffff;
      }
    }
  }
  h2{
    color: #656565;
    font-family: 'gotham_htfbold';
    text-align: center;
  }
}

.mensaje_pedido{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  background-color: #E6E6E6;
  padding: 20px;
  opacity:0;
  visibility: hidden;
  transition: visibility 0s linear 300ms,opacity 300ms linear;
  z-index: 99999;
  width: 40%;
  border-radius: 5px;
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    width: 100%;

  }
  p{
    color: #656565;
    font-family: 'gotham_bookregular';
  }
  .btn_confirm{
    display: inline-block;
  }
  &.exito{
    border: 3px solid #22B573;
    .btn_moreproduct{
      border: 1px solid #22B573;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0 auto;
      color: #22B573;
      font-family: 'gotham_bookregular';
      &:hover{
        background-color: #22B573;
        color: #ffffff;
      }
    }
    .btn_Checkout{
      border: 1px solid #bf2026;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0 auto;
      color: #bf2026;
      font-family: 'gotham_bookregular';
      &:hover{
        background-color: #bf2026;
        color: #ffffff;
      }
    }
  }
  &.error{
    border: 3px solid #bf2026;
    .btn_cerrar{
      border: 1px solid #bf2026;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0 auto;
      color: #bf2026;
      font-family: 'gotham_bookregular';
      &:hover{
        background-color: #bf2026;
        color: #ffffff;
      }
    }
  }
  &.advertencia{
    border: 3px solid #F8BB86;
    .btn_cerrar{
      border: 1px solid #F8BB86;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0 auto;
      color: #F8BB86;
      font-family: 'gotham_bookregular';
      &:hover{
        background-color: #F8BB86;
        color: #ffffff;
      }
    }
  }
  h2{
    color: #656565;
    font-family: 'gotham_htfbold';
    text-align: center;
  }
}


.edit_pedido{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  background-color: #E6E6E6;
  padding: 20px;
  opacity:0;
  visibility: hidden;
  transition: visibility 0s linear 300ms,opacity 300ms linear;
  z-index: 99999;
  width: 40%;
  border-radius: 5px;
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    width: 100%;

  }
  .contenido_modal{
    height: 400px;
    overflow-y: scroll;
    margin-bottom: 10px;
  }
  p{
    color: #656565;
    font-family: 'gotham_bookregular';
    margin-bottom: 10px;
  }
    border: 3px solid #22B573;
    .btn_actualizar{
      border: 1px solid #22B573;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0 auto;
      color: #22B573;
      font-family: 'gotham_bookregular';
      &:hover{
        background-color: #22B573;
        color: #ffffff;
      }
    }
  .btn_cancelar_edit{
    border: 1px solid #bf2026;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
    color: #bf2026;
    font-family: 'gotham_bookregular';
    &:hover{
      background-color: #bf2026;
      color: #ffffff;
    }
  }
  h2{
    color: #656565;
    font-family: 'gotham_htfbold';
    text-align: center;
  }
  input[type="number"] {
    width:50px;
    display: inline-block;
    margin-left: 10px;
  }
}


.mensaje_confirm{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  background-color: #E6E6E6;
  padding: 20px;
  opacity:0;
  visibility: hidden;
  transition: visibility 0s linear 300ms,opacity 300ms linear;
  z-index: 99999;
  width: 40%;
  border-radius: 5px;
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    width: 100%;

  }
  .contenido_modal{
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
  }
  .btn_confirm{
    display: inline-block;
  }
  p{
    color: #656565;
    font-family: 'gotham_bookregular';
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
  }
  border: 3px solid #22B573;

  .btn_acept{
    border: 1px solid #22B573;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
    color: #22B573;
    font-family: 'gotham_bookregular';
    display: inline-block;
    &:hover{
      background-color: #22B573;
      color: #ffffff;
    }
  }

  .btn_cancel{
    border: 1px solid #bf2026;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
    color: #bf2026;
    font-family: 'gotham_bookregular';
    display: inline-block;
    &:hover{
      background-color: #bf2026;
      color: #ffffff;
    }
  }
}


.mensaje_confirm_pulsera{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  background-color: #E6E6E6;
  padding: 20px;
  opacity:0;
  visibility: hidden;
  transition: visibility 0s linear 300ms,opacity 300ms linear;
  z-index: 99999;
  width: 40%;
  border-radius: 5px;
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    width: 100%;
  }
  .contenido_modal{
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
  }
  .btn_confirm{
    display: inline-block;
  }
  p{
    color: #656565;
    font-family: 'gotham_bookregular';
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
  }
  border: 3px solid #22B573;

  .btn_acept2{
    border: 1px solid #22B573;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
    color: #22B573;
    font-family: 'gotham_bookregular';
    display: inline-block;
    &:hover{
      background-color: #22B573;
      color: #ffffff;
    }
  }

  .btn_cancel2{
    border: 1px solid #bf2026;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
    color: #bf2026;
    font-family: 'gotham_bookregular';
    display: inline-block;
    &:hover{
      background-color: #bf2026;
      color: #ffffff;
    }
  }
}

.modal_formaspago{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #E6E6E6;
  padding: 4%;
  z-index: 999999;
  display: none;
  .close_pago {
    position: absolute;
    right: 10px;
    top: 10px;

    .close_formaspago {
      &:before {
        font-size: 14px;
        margin-left: 0px;
      }
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 50%;
      color: #ffffff;
      background-color: #58585A;
    }
  }
  h3{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #58585A;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
  }
  div.divisor{
    position: absolute;
    background-color: #58585A;
    height: 3px;
    width: 80%;
    left: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
  }
  .logos_pagos{
    height: auto;
    overflow: hidden;
    margin-top: 50px;
    ul{
      li{
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: #3FA9F5;
        list-style: none;
      }
    }
    .leyenda_pago{
      font-family: 'gotham_bookregular';
      font-size: 11px;
    }
  }
}

.page_template{
  background-color: #F3F3F3;
  h3{
    color: #58585A;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    margin-bottom: 30px;
  }
  h4{
    color: #58585A;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 30px;
  }
  p{
    font-family: 'gotham_bookregular';
    color: #58585A;
    padding-right: 10%;
    padding-left: 10%;

    font-size: 17px;
  }
  ul{
    padding-right: 10%;
    padding-left: 10%;
    li{
      font-family: 'gotham_bookregular';
      color: #58585A;
      font-size: 17px;
    }
  }
  .row{
    margin-top: 10%;
    margin-bottom: 8%;
  }
}

.pedido_resumen{
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 5% !important;
  padding-right: 5% !important;
  h3{
    color: #58585A;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    margin-bottom: 60px;
  }
  h5{
    color: #58585A;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  .datos_envio{
    margin-bottom: 20px;
    p{
      font-family: 'Lato', sans-serif;
      font-weight: 100;
      text-transform: uppercase;
      color: #58585A;
    }
  }
  .cabezeras_pedido_tabla{
    @media only screen and (max-width: 640px) and (min-width: 320px){
      display: none;
    }
    li{
      font-family: 'Lato', sans-serif;
      font-weight: 100;
      text-transform: uppercase;
      color: #58585A;
    }
  }
  .contenido_pedido_tabla{
    margin-top: 0px;
    li{
      font-family: 'Lato', sans-serif;
      font-weight: 100;
      text-transform: uppercase;
      color: #58585A;
      p{
        margin-bottom: 0px;
        font-family: 'Lato', sans-serif;
        font-weight: 100;
      }
    }
    .titulos_responsivos{
      display: none;
      @media only screen and (max-width: 640px) and (min-width: 320px){
        display: block;
      }
    }
  }
}


.modal_personaliza{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #E6E6E6;
  width: 100%;
  z-index: 99999;
  padding-left: 0px !important;
  padding-right: 0px !important;
  .img_brasalete{
    padding: 0px;
    position: relative;
    z-index: 9;
    overflow: hidden;
    .container_pulsera {
      position: relative;
      height: 500px;
      overflow: hidden;
      @media only screen and (min-width: 320px) and (max-width: 640px) {
        display: none !important;
      }
      img {
        margin-top: 50px;
        z-index: 9;
        position: relative !important;
        width: 100%;
      }
      .nombre_pulseradiseno {
        position: relative;
        border: 2px dashed #fff;
        padding: 5px;
        color: #DCDCDC !important;
        font-size: 37px;
        z-index: 9999999;
        text-shadow: 2px 2px #616161;
        margin-top: -37%;
        text-align: center;
        line-height: 35px;

      }
    }
  }
  div.contenedor_datos{
    background-color: rgba(0,0,0,0.7);
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
    position: relative;
    @media only screen and (min-width: 320px) and (max-width: 640px) {
      height: 100vh !important;
      overflow: scroll;
      background-color: rgb(0,0,0);
      padding-right: 0px;
      padding-left: 0px;
    }
    @media only screen and (max-height: 750px) {
      overflow: scroll;
      height: 100vh !important;
    }

    h3.titulo_brasalete{
      font-family: 'Lato', sans-serif;
      color: #ffffff;
      font-weight: 700;
      text-align: center;
    }
    div.divisor{
      position: absolute;
      background-color: #AA9F6B;
      height: 3px;
      width: 40%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
    }
    div.info_brasalete {
      margin-top: 40px;
      small{
        color: #AA9F6B;
      }
      h4{
        color: #ffffff;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
      }
      label {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        color: #ffffff;
        font-size: 15px;
        &.inline2{
          display: inline;
        }
      }
    }
  }
  div.contenedor_btncompra{
    width: 60%;
    text-align: center;
    margin: 20px auto;
    border: 1px solid #AA9F6B;
    padding: 10px;
    display: inline;
    margin-right: 20px;

    a{
      color: #ffffff;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 18px;
    }
  }
  .contenedor_btncancelar{
    width: 60%;
    text-align: center;
    margin: 20px auto;
    border: 1px solid #fff;
    padding: 10px;
    display: inline;
    margin-right: 20px;
    a{
      color: #ffffff;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 18px;
    }
  }
}

.tenplate_gracias{
  background-color: #333333;
  height: 100vh;
  .texto_gracias {
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }
  @include placeholder {
    color: #666666 !important;
    font-family: 'gotham_bookregular' !important;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }

  .leyenda_nosotros{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #AA9F6B;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 0px;
    margin-top: 50px;
  }

  .wysija-submit{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    display: inline;
    background-color: #AA9F6B;
    border: none;
    font-size: 19px;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
    text-transform: uppercase;
  }
}

.boton_pagos{
  width: 150px;
  max-width: 150px;

}

.contenido_pulsera {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 5%;
  background-color: transparent;
  z-index: 99999;
  .close_viewpulsera{
    position: absolute;
    right: 30px;
    color: #ffffff;
    cursor: pointer;
  }
  .view_imgpulsera {

  }
}

.comments-title{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #58585A;
  margin-top: 20px;
}

.comment-author{
  border:none !important;
  margin-bottom: 0px !important;
}

.comment-list{
  list-style: none;
}

.comment-content{
  font-family: 'gotham_bookregular';
  color: #58585A;
  font-size: 14px;
}

.comment-metadata{
  a{
    font-family: 'gotham_bookregular';
    color: #58585A;
    font-size: 12px;

  }
}

.widget_wysija_cont {
  .updated {
    background-color: transparent !important;
    border-color: #E6DB55 !important;
    color: #fff !important;
    font-family: 'gotham_bookregular' !important;
    text-align: center;
  }
}

#ui-datepicker-div{
  &:after{
    display: none;
  }
}

.login_distribuidores{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 3%;
  border: 3px solid #AA9F6B;
  width: 25%;
  display: none;
  z-index: 9999;
  @media only screen and (min-width: 641px) and (max-width: 1024px) {
    width: 45%;
  }
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    width: 75%;
  }
  .close_login{
    color: #585859;
    position: absolute;
    top: 5px;
    right: 10px;
  }
  .titulo_login{
    color: #585859;
    text-align: center;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }
  .btnlogin{
    padding: 5px;
    border: 2px solid #585859;
    margin-top: 20px;
      color: #58585A;
      text-transform: uppercase;
      font-size: 12px;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
  }
  .registro{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 12px;
    text-align: center;
    color: #58585A;
  }
}


.tipo_moneda{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 3%;
  border: 3px solid #AA9F6B;
  width: 35%;
  display: none;
  z-index: 9999;
  @media only screen and (min-width: 641px) and (max-width: 1024px) {
    width: 50%;
  }
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    width: 80%;
  }
  .closecurrentmoney{
    color: #585859;
    position: absolute;
    top: 5px;
    right: 10px;
  }
  .titulo_login{
    color: #585859;
    text-align: center;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }
  .botones {
    text-align: center;
    a {
      display: inline-block;
      .btncurrentmoney {
        padding: 10px;
        border: 2px solid #585859;
        margin-top: 20px;
        color: #58585A;
        text-transform: uppercase;
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
      }
      .btnlatermoney{
        padding: 10px;
        border: 2px solid #AA9F6B;
        margin-top: 20px;
        color: #AA9F6B;
        text-transform: uppercase;
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
      }
    }
  }
  .registro{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 12px;
    text-align: center;
    color: #58585A;
  }
}

.tipo_moneda_edit{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 3%;
  border: 3px solid #AA9F6B;
  width: 35%;
  display: none;
  z-index: 9999;
  @media only screen and (min-width: 641px) and (max-width: 1024px) {
    width: 50%;
  }
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    width: 80%;
  }
  .closecurrentmoney{
    color: #585859;
    position: absolute;
    top: 5px;
    right: 10px;
  }
  .titulo_login{
    color: #585859;
    text-align: center;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }
  .botones {
    text-align: center;
    a {
      display: inline-block;
      .btnlatermoneyupdate {
        padding: 10px;
        border: 2px solid #585859;
        margin-top: 20px;
        color: #58585A;
        text-transform: uppercase;
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
      }
      .btnlatermoneyupdatecancel{
        padding: 10px;
        border: 2px solid #AA9F6B;
        margin-top: 20px;
        color: #AA9F6B;
        text-transform: uppercase;
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
      }
    }
  }
  .registro{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 12px;
    text-align: center;
    color: #58585A;
  }
}


.resumen_pedido{
  margin-top:5%;
  .titulo_blog {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #58585A;
  }
  .divisor {
    position: relative;
    background-color: #AA9F6B;
    height: 3px;
    width: 20%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }
  .contenido_foto{
    height: 300px;
    position: relative;
    div{
      height: 100%;
      background-size: cover;
      background-position: center center;
    }
  }
  .datos_pulsera{
    color: #515050;
    text-transform: uppercase;
    padding-top: 10px;
    margin-bottom: 0px;
  }
}


.sd-button{
  background-color: #58585A !important;
  /*border: 1px solid #AA9F6B !important;*/
}

.ui-widget-content{
  border: none !important;
}